Thank you for choosing us

Welcome to private-events. We are happy to see you and we hope you will have a lot of fun here.

= "To start, just visit #{root_url} and create an event."

= "Invite your friends or tell them to find you at #{user_url(@user)}" 


Have a great time,

private-events team
