%h1 Thank you for choosing us

%p Welcome to private-events. We are happy to see you and we hope you will have a lot of fun here.

%p
  To start, just visit 
  = root_url
  and create an event.

%p 
  Invite your friends or tell them to find you at 
  = user_url(@user) 

%br
%br

Have a great time,

%br

private-events team
